<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="searchTable">
<table cellspacing="2"  class="table table-hover" >
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Deposit</th>
        <th scope="col">Total Pay</th>
        <th scope="col">Employee</th>
        <th scope="col">Customer</th>
        <th scope="col">Service</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract : ${contractList}">
        <td scope="col" th:text="${contract.id}"></td>
        <td scope="col" th:text="${contract.startDate}"></td>
        <td scope="col" th:text="${contract.endDate}"></td>
        <td scope="col" th:text="${contract.deposit}"></td>
        <td scope="col" th:text="${contract.totalMoney}"></td>
        <td scope="col" th:text="${contract.employee.name}"></td>
        <td scope="col" th:text="${contract.customer.name}"></td>
        <td scope="col" th:text="${contract.service.name}"></td>

        <td scope="col">
            <!--                            <a th:href="@{/customer/view/{id}(id=${customer.id})}" class="btn btn-outline-info" >-->
            <!--                                View-->
            <!--                            </a>-->
            <button class="btn btn-outline-info btn-lg btnModalView" id="btnModalView">View</button>
            <input type="hidden" th:value="${contract.id}">

            <!--                                <span class="oi oi-plus" title="icon name" aria-hidden="true"></span>                            </a>-->
            <a th:href="@{/contract/{id}/edit(id=${contract.id})}" class="btn btn-outline-dark">
                Edit
            </a>
            <button type="button" class="btn btn-danger" id="btnModalDelete"
                    th:onclick="'javascript:showDelete(\''+ ${contract.id} + '\');'">
                Delete
            </button>
            <!--                            <button class="btn btn-outline-danger btn-lg btnModalDelete" id="btnModalDelete">Delete</button>-->
            <!--                            <input type="hidden" th:value="${customer.id}">-->

            <!--                            <a th:href="@{/customer/{id}/delete(id=${customer.id})}" class="btn btn-outline-danger"-->
            <!--                               data-toggle="modal" data-target="#modelId" th:onclick="'onDel('+${customer.id}+')'">-->
            <!--                                Delete-->
            <!--                            </a>-->

        </td>
    </tr>
    </tbody>

</table>
</div>
<script>
    $(document).ready(function () {
        $("#btnModalCreate").click(function () {
            $.ajax({
                type: "GET",
                url: "contract/create",
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal('show');
                }
            });
        });
    });
</script>
<!--ajax delete modal-->
<script>
    // $(document).ready(function () {
    //     $("#btnModalDelete").click(function () {
    //         console.log($(this).next());
    //         $.ajax({
    //             type: "GET",
    //             url: "customer/delete/" + $(this).next().val(),
    //             dataType: "HTML",
    //             success: function (data) {
    //                 console.log(data)
    //                 let mess= "Xoa Thanh Cong!"
    //                 $("#modelId").modal('hide');
    //                 $(".modal-body").html(data);
    //                 $(".modal-body").html(data);
    //                 $("#modelId").modal('show');
    //             }
    //         });
    //     });
    // });
    function showDelete(id) {
        $.ajax({
            type: "GET",
            url: "contract/delete/"+id,
            dataType: "HTML",
            success: function (data) {
                $(".modal-body").html(data);
                $("#modelId").modal('show');
            }
        })
    }
    function actionDelete(id){
        $.ajax({
            type: "POST",
            url: "contract/actionDelete/" + id,
            dataType: "HTML",
            success: function (data) {
                var messageDelete = "Delete!!!";
                $("#modelId").modal('hide');
                $("#searchTable").html(data);
                $(".modal-body").html(messageDelete);
                $("#modelId").modal('show');
            }
        })
    }
</script>

<!--ajax View modal-->
<script>
    $(document).ready(function () {
        $("#btnModalView").click(function () {
            console.log($(this).next());
            $.ajax({
                type: "GET",
                url: "contract/view/" + $(this).next().val(),
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal('show');
                }
            });
        });
    });
</script>
</body>
</html>