<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<div class="container-fluid">
<!--    <div th:replace="layout :: header"></div>-->
<!--    <div th:replace="layout :: nav"></div>-->
    <div id="content" style="background-color: whitesmoke">
        <div class="row">
<!--            <div class="col-lg-2 bg-light" th:replace="layout :: col2">-->
            </div>
            <div class="col-lg-12 bg-light" >
                <table class="table table-striped">
                    <tr>
                        <th>Id:</th>
                        <td scope="col" th:text="${contract.id}"></td>
                    </tr>
                    <tr>
                        <th>Start Day:</th>
                        <td scope="col" th:text="${contract.startDate}"></td>
                    </tr>
                    <tr>
                        <th>End Day:</th>
                        <td scope="col" th:text="${contract.endDate}"></td>
                    </tr>
                    <tr>
                        <th>Deposit:</th>
                        <td scope="col" th:text="${contract.deposit}"></td>
                    </tr>
                    <tr>
                        <th>Price:</th>
                        <td scope="col" th:text="${contract.totalMoney}"></td>
                    </tr>
                    <tr>
                        <th>Employee :</th>
                        <td scope="col" th:text="${contract.employee.name}"></td>
                    </tr>
                    <tr>
                        <th>Customer :</th>
                        <td scope="col" th:text="${contract.customer.name}"></td>
                    </tr>
                    <tr>
                        <th>Service :</th>
                        <td scope="col" th:text="${contract.service.name}"></td>
                    </tr>


                </table>
                <a th:href="@{/contract}" class="btn btn-outline-info">Back</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>