<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/orders">OrderBook list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-orderBook}" th:object="${orderBook}" method="post">
    <table class="table">
        <tr>
            <input th:field="*{id}" hidden>
            <td scope="row">Customer:</td>
            <td scope="row">
                <select th:field="*{customer}">
                    <option th:each="p : ${customers}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td scope="row">Books:</td>
            <td scope="row">
                <select th:field="*{book}">
                    <option th:each="p : ${books}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td scope="row">Code</td>
            <td scope="row" th:field="*{code}" >
             <input id="code" name="code" th:value="${code}" readonly>            </td>
        </tr>
        <tr>
            <td scope="row">Status:</td>
            <td scope="row">
                <input type="radio" th:field="*{status}" value="0" />Không
                <input type="radio" th:field="*{status}" value="1" />Có
            </td>
        </tr>
        <tr>
            <td></td>
            <td scope="row"><input type="submit" value="Create orderBook"></td>
        </tr>
    </table>
</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>