<div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Deleted</strong> Successfull ! ☺.
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row justify-content-between">
  <h2>List Customers</h2>
  <div class="form-inline">

    <input class="float-right; form-control " [(ngModel)]="idSearch" placeholder="Search by Id ..."/>
    <button class="float-right; btn btn-outline-info" (click)="searchById()">Search Id</button>

    <input class="float-right; form-control" [(ngModel)]="nameSearch" placeholder="Search by Name ..."/>
    <button class="float-right; btn btn-outline-info" (click)="searchByName()">Search Name</button>

</div>
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID So Tiet Kiem</th>
    <th scope="col" (click)="sortByName()">ID Khach Hang</th>
    <th scope="col">Ten Khach Hang</th>
    <th scope="col">Ngay Mo So</th>
    <th scope="col">Thoi Gian Bat Dau Gui</th>
    <th scope="col">Ky Han</th>
    <th scope="col">So Tien Gui</th>
    <th scope="col">Lai Suat</th>
    <th scope="col">Uu Dai</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of collection | paginate: { itemsPerPage:5, currentPage: p };  index as i">
    <td>{{customer.id}}</td>
    <td>{{customer.khachHang.id}}</td>
    <td>{{customer.khachHang.name}}</td>
    <td>{{customer.ngayMoSo}}</td>
    <td>{{customer.ngayGui}}</td>
    <td>{{customer.ngayRut}}</td>
    <td>{{customer.soTien}}</td>
    <td>{{customer.laiSuat}}</td>
    <td>{{customer.uuDai}}</td>
    <td><a routerLink="/update/{{customer.id}}">
      <i class="fa fa-edit" style="font-size:30px;color:rgb(10, 2, 116); cursor: pointer;"></i></a>&nbsp; &nbsp;
      <i (click)="openDialog(customer.id)" class="fa fa-trash-o" style="font-size:30px;color:red; cursor: pointer;"></i></td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
